@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
ul {
    list-style: none;
}
body {
    background: lightseagreen;
    color: rgb(41, 41, 41);
}
main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    transition: all .3s ease-in-out;
}

.container {
    width: 567px;
    background: white;
    padding: 2rem;
    border-radius: 5px;
    margin: 1rem;
}
.container h2 {
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.app-wrap {
    display: flex;
    background: rgb(226, 248, 255);
    border-radius: 40px;
}
input {
    flex: 1;
    padding: 1rem 1.5rem;
    border: none;
    outline: none;
    background: transparent;
    border-radius: 40px;
}
.add-button {
    border: none;
    border-radius: 40px;
    padding: 1rem 1.5rem;
    cursor: pointer;
    background: lightseagreen;
    color: white;
}
.add-button:hover, .add-button:focus {
    background: lightskyblue;
    color: white;
}
.taskList {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.taskList li h5 {
    font-weight: 400;
}
.deleteButton {
    border: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
}
.deleteButton:hover {
    color: lightcoral;
}